@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Merriweather', serif}

h1, h2, h3 {
  font-weight: 700;
}

a {
  color: #FF4E48;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.quote{
  font-weight: 400;
  font-style: italic;
  font-size: 2em;
  line-height: 1.7;
}

.footnote {
  position: absolute;
  bottom: 15px;
  left: 60px;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
}

.med-img {
  width: 60%;
  margin: 0 auto;
}

.small-img {
  width: 45%;
  margin: 0 auto;
}

.footnote a {
  text-decoration: none;
}

h2 span {
  display: block;
}

.title {
  font-style: italic;
}

.author {
  color: #797979;
}

.fullstack {
  width: 70%;
  margin: 0 auto;
}

.fullstack img {
  width: 100%;
}


.remark-code, .remark-inline-code { 
  font-family: 'Ubuntu Mono';
  color: #00FF8D;
}

.paintings img {
  width: 165px;
  display: inline-block;
}

.paintings {
  padding-bottom: 50px;
}
