@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Merriweather', serif
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.5;
}

a {
  color: #10C9C3;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.all-slides {
  padding-top: 75px;
}

.main-img {
  width: 80%;
  margin: 45px auto 0;
}

.main-img--small {
  width: 60%;
  margin: 45px auto 0;
}

.main-img--x-small {
  width: 40%;
  margin: 45px auto 0;
}

.main-img--large {
  width: 100%;
  margin: 45px auto 0;
}

.top-padding {
  padding-top: 50px;
}

.almost-middle {
  padding-top: 175px;
}

.quote{
  font-weight: 400;
  font-style: italic;
  font-size: 1.8em;
  line-height: 1.7;
}

.col1, .col2 {
  width: 45%;
  float: left;
}

.col2 {
  margin-left: 10%;
  margin-top: 45px;
}

.info-bar {
  width: 100%;
  height: 40px;
  background-color: white;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}

.info-bar a {
  text-decoration: none;
}

.color-bkg {
  background-color: #FF836E;
  color: white;
}

.footnote a {
  color: black;
}

.dark {
  color: white;
  background-color: black;
}

/* .rule { */
/*   height: 250px; */
/*   background-color: yellow; */
/*   width: 100%; */
/*   position: fixed; */
/*   bottom: 0; */
/*   right: 0; */
/*   left: 0; */
/* } */


.footnote a {
  text-decoration: none;
}

h2 span {
  display: block;
}

.title {
  font-style: italic;
}

.author {
  color: #797979;
}

.fullstack {
  width: 60%;
  margin: 0 auto;
}

.fullstack img {
  width: 100%;
}

.remark-code, .remark-inline-code { 
  line-height: 1.5;
  font-family: 'Ubuntu Mono';
  color: #00FF8D;
}

.paintings img {
  width: 215px;
  display: inline-block;
}

.paintings {
  padding-bottom: 50px;
}

